@charset "EUC-KR";

body{
	font-family: "SF Pro KR";
	margin: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: "SF Pro KR";
}


.main{
	background-color: black;
	color: white;
	word-break: keep-all;
}
.sub_main{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f5f5f7;
}

.top_container{
	display: flex;
	justify-content: space-between;
	
}
.top_logo_box{
	font-size: 21px;
    font-weight: 600;
}
.top_active_box{
	display: flex;
	justify-content: space-between;
}










.container{
	padding-top: 50px;
	padding-bottom: 200px;
	width: 1440px;
	margin: 0 auto;
}



.title_image_box{
	margin: 0 auto;
	margin-bottom: 200px;
	width: 900px;
    height: 680px;
    background-size: cover;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/experience/hero_enhanced_150__d6c8gtbj3866_large.jpg);
	
}

/*animation 첫 번째 오른쪽에서 왼쪽으로 움직이는 대표 이미지 속 글자 박스*/
.title_info_box{
	animation: slidein 10s 1s infinite alternate;  /*iPadPro 처음에 글자 박스가 오른쪽에서 왼쪽으로 움직임*/
    margin-left: 100%;
    padding-top: 200px;	
	text-align: center;
}

@keyframes slidein{
  from{
  	margin-left: 100%;
  }
  to{
    margin-left: 0%;
  }
}
.title_info_title{
	font-size: 60px;
    font-weight: 600;
}
.title_info_subtitle{
	margin: 0 auto;
	font-size: 28px;
    font-weight: 600;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 300px;
    background-image: linear-gradient(225deg, #ff5ea7 36.04%, #010fcb 88.83%, #ff6530 220.3%);
}











.ready_image{
	margin: 0 auto;
	margin-bottom: 50px;
	width: 1059px;
    height: 750px;
    background-size: cover;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/experience/intro_summary_static__epib5tclp926_large.png);

}
.ready_info_box{
	text-align: center;
}
.ready_info_link{
	margin-top: 50px;
	color: #2997ff;
	cursor: pointer;
}
.ready_info_link:hover{
	text-decoration: underline;
}


.ready_info_title{
	font-size: 28px;
    font-weight: 600;
}
























.meet_image_box{
	margin-left: 200px;
	width: 1225px;
    height: 823px;
    background-size: cover;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/chip/m1_hero__d6vadsyfqbgy_large.jpg);
}
.meet_info_title{
	padding-top: 200px;
	padding-right: 600px;
	font-size: 80px;
    font-weight: 600;
}





.chip_info_box{
	text-align: center;
	color: #f5f5f7;
	font-size: 28px;
    font-weight: 600;
}
.chip_image_box{
	height: 1020px;
}
.chip_image{
	animation: size 1s 1s infinite alternate;
	margin: 0 auto;
	width: 1010px;
	height: 1010px;
	background-size: cover;
	background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/chip/m1_chip_start__cwhblfgqktaq_large.jpg);
}



@keyframes size{
  from{
  	width: 1010px;
  	height: 1010px;
  }
  to{
    width: 800px;
  	height: 800px;
  }
}









.faster_container{
	display: flex;
}
.faster_info_box{
	padding-top: 100px;
	font-size: 26px;
    font-weight: 600;
	margin: 0 auto;
	word-break: keep-all;
	width: 400px;
}
.faster_image_box{
	width: 1010px;
    height: 772px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/chip/m1_graphics_hardware__bgt7w6oi5caa_large.png);
}
.faster_image{
	height: 708px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/chip/m1_graphics_startframe__fs821u3jmtim_large.jpg);
    margin: 30px;
    border-radius: 20px;
}
.faster_info_box_items{
	display: flex;
	justify-content: space-evenly;
}
.faster_info_box_title{
	margin-top: 10px;
	font-size: 30px;
}
.faster_info_box_subtitle{
	margin-top: 10px;
	font-size: 14px;
    font-weight: 400;
}






.display_info{
	padding-left: 150px;
	margin: 0 auto;
	font-size: 70px;
    font-weight: 600;
    margin-bottom: 100px;
}

.display_image_box{
	margin: 0 auto;
	width: 1238px;
	height: 870px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/kr/ipad-pro/af/images/overview/display-liquid-retina/liquid_retina_endframe__e22htc2zu0cy_large.jpg);
}
.display_info_box{
	display: flex;
	justify-content: space-around;
}
.display_info_subtitle{
	padding-top: 500px;
	padding-left: 200px;
	font-size: 28px;
    font-weight: 600;
	width: 550px;
	word-break: keep-all;
}
.display_info_items{
	padding-top: 500px;
}
.display_info_item_title{
	margin-top: 10px;
	font-size: 40px;
}
.display_info_item_subtitle{
	margin-top: 10px;
	font-size: 15px;
}



.data_info_box{
	margin-left: 150px;
}
.data_title{
	font-size: 80px;
    font-weight: 600;
}
.data_subtitle{
	margin-top: 20px;
	font-size: 28px;
    font-weight: 600;
}
.data_link{
	margin-top: 20px;
	color: #2997ff;
	cursor: pointer;
}

.data_image_box{
	width: 1000px;
	height: 1000px;
	display: flex;
    align-items: center;
 
}
.data_images{
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.data_turn_image{
	margin-left: -540px;
	z-index: 1;
	animation: turn 2s infinite;
	width: 700px;
    height: 700px;
    background-size: cover;
	background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/wireless/5g_background__gilz1kzffiye_small.jpg);
}
.data_left_image{
	z-index: 2;
	width: 215px;
	height: 626px;
	background-size: cover;
	background-image: url(https://www.apple.com/kr/ipad-pro/af/images/overview/wireless/5g_hardware_left__bp7a65aw6pv6_large.jpg);
}
.data_right_image{
	z-index: 3;
	width: 200px;
	height: 626px;
	margin-left: -20px;
	background-size: cover;
	background-image: url(https://www.apple.com/kr/ipad-pro/af/images/overview/wireless/5g_hardware_right__frph7a2tpca6_large.png);
}
.data_wifi_image_box{
	margin-top: 100px;
	width: 1100px;
	height: 900px;
	background-size: cover;
	background-image: url(https://www.apple.com/kr/ipad-pro/af/images/overview/wireless/5g_downloads__orokmq1pxgae_large.jpg);
}
.data_wifi_image{
	width: 1100px;
	height: 900px;
	background-size: cover;
	background-image: url(https://www.apple.com/v/ipad-pro/af/images/overview/wireless/5g_downloads_gradient__exnz7fp6yys2_large.png);
	
}

@keyframes turn{
  from{
  	transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/*thunderbolt start*/
.thunderbolt_info_box{
	margin-left: 100px;
}
.thunderbolt_title{
	font-size: 80px;
	font-weight: 600;
}
.thunderbolt_subtitle{
	margin-top: 30px;
	font-size: 30px;
	font-weight: 600;
}
.thunderbolt_image_box{
	margin-top: 30px;
}
.thunderbolt_image{
	width: 1197px;
	height: 778px;
	background-size: cover;
	background-image: url(https://www.apple.com/kr/ipad-pro/af/images/overview/thunderbolt/thunderbolt_hero__fg7vx8fb8ve6_large.jpg);
}

/*thunderbolt end*/
/* trade_container 내부 start*/

.trade{
	padding-top: 70px;
	display: flex;
	justify-content: center;
}

.trade_image{
	margin-left: 50px;
    width: 493px;
    height: 566px;
    background-size: cover;
    background-image: url(https://www.apple.com/v/ipad-pro/af/images/shared/ipad_trade_in__ggq1dqvyb56y_large.png);
}
.trade_info_box{
	margin-top: 30px;
	word-break: keep-all;
}
.trade_info__title{
	font-size: 48px;
	font-weight:600;
	width: 550px;
}
.trade_info__subtitle{
	margin-top: 60px;
	font-size: 20px;
	font-weight:400;
	width: 480px;
    
}
.moreInfo{
	color: #2997ff;
	cursor: pointer;
	margin-top: 30px;
}

/*trade end*/

/*compare start*/
.button{
	margin: 0 auto;
	width: 100px;
	align-items: center;
	text-decoration:none;
	cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    background: #0071e3;
    color: #fff;
    padding: 4px 8px 4px 8px;
}
.purchase_button{
	margin-top: 10px;
}
.compare{
	padding-top: 70px;
	padding-bottom: 70px;
	background: white;
}
.compare_item{
	font-size: 48px;
	font-weight: 600;
	color: black;
}
.compare_box{
	margin-top: 25px;
	display: flex;
    justify-content: center;
    font-family: "SF Pro KR","SF Pro Text","SF Pro Icons","Apple Gothic","HY Gulim","MalgunGothic","HY Dotum","Lexi Gulim","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.compareTable{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 110px;
}
.compare_moreInfo{
	font-size: 24px;
}
.compareTable_box{
	padding-top: 70px;
	padding-bottom: 80px;
	display: flex;
	justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.device_info__title{
	margin-top: 10px;
	font-size: 24px;
    font-weight: 600;
}
.device_info__subtitle{
	margin-top: 10px;
	font-size: 17px;
    font-weight: 400;
}
.device_info__price{
	margin-top: 20px;
	font-size: 14px;
    font-weight: 400;
}
/*compare 내 이미지 start*/
.ipad_device_image_box{
	min-height: 214px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
	
}
.ipad_pro_device_image{
	width: 189px;
    height: 214px;
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/compare_ipad_pro__erf9x8mw04sy_large.png);
}
.ipad_air_device_image{
	width: 136px;
    height: 188px;
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/compare_ipad_air__bxjv33pk6nte_large.png);
}
.ipad_device_image{
	width: 133px;
    height: 191px;
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/compare_ipad_10_2__fwgwy7jydtea_large.png);
}
.ipad_mini_device_image{
	width: 104px;
    height: 155px;
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/compare_ipad_mini__czcsk9ukpeie_large.png);
}


/*compare내 이미지 end*/
/*compare end*/
/*benefit start*/
.benefit_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1440px;
    word-break: keep-all;
}
.benefit{
	display: flex;
    width: 1440px;
    justify-content: space-evenly;
}
.benefit_box{
	margin: 40px;
}
.benefit__image{
	margin: 0 auto;
	justify-content: center;
    display: flex;
    width: 55px;
    height: 75px;
    background-size: 55px 75px;
}
.benefit__title{
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
    font-weight: 600;
}
.benefit__subtitle{
	margin-top: 10px;
	text-align: center;
	font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
}
.delivery_image{
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/icon_delivery__bs8f0g1fv0eu_medium.png);
}
.finance_image{
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/icon_financing__ctvbzjuwg02u_large.png);
}
.personal_image{
    background-image: url(https://www.apple.com/v/ipad/home/bn/images/overview/icon_engraving__cv9oecgi9r0i_medium.png);
}
.benefit__moreInfo{
	font-size: 21px;
	margin: 20px;
	display: flex;
	justify-content: center;
}



/*benefit end*/




